PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE doctors (
	id INTEGER NOT NULL, 
	full_name VARCHAR(100) NOT NULL, 
	years_of_experience INTEGER, 
	email VARCHAR(150) NOT NULL, 
	password_hash VARCHAR(256) NOT NULL, 
	created_at DATETIME, 
	PRIMARY KEY (id), 
	UNIQUE (email)
);
CREATE TABLE doctor_profiles (
	id INTEGER NOT NULL, 
	doctor_id INTEGER, 
	phone_enc TEXT, 
	address_enc TEXT, 
	city VARCHAR(100), 
	qualifications TEXT, 
	license_number VARCHAR(100), 
	PRIMARY KEY (id), 
	UNIQUE (doctor_id), 
	FOREIGN KEY(doctor_id) REFERENCES doctors (id)
);
CREATE TABLE doctor_documents (
	id INTEGER NOT NULL, 
	doctor_id INTEGER, 
	document_type VARCHAR(100), 
	file_data_enc BLOB, 
	file_name VARCHAR(200), 
	uploaded_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(doctor_id) REFERENCES doctors (id)
);
CREATE TABLE shift_applications (
	id INTEGER NOT NULL, 
	doctor_id INTEGER, 
	shift_id INTEGER, 
	applied_at DATETIME, 
	status VARCHAR(20), 
	payment_amount FLOAT, 
	payment_status VARCHAR(20), 
	PRIMARY KEY (id), 
	FOREIGN KEY(doctor_id) REFERENCES doctors (id)
);
COMMIT;
