PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE hospitals (
	id INTEGER NOT NULL, 
	hospital_name VARCHAR(200) NOT NULL, 
	contact_person VARCHAR(100) NOT NULL, 
	email VARCHAR(150) NOT NULL, 
	password_hash VARCHAR(256) NOT NULL, 
	created_at DATETIME, 
	PRIMARY KEY (id), 
	UNIQUE (email)
);
CREATE TABLE hospital_profiles (
	id INTEGER NOT NULL, 
	hospital_id INTEGER, 
	hospital_type VARCHAR(50), 
	address_enc TEXT, 
	city VARCHAR(100), 
	state VARCHAR(100), 
	pincode VARCHAR(20), 
	phone_enc TEXT, 
	alternate_phone_enc TEXT, 
	website VARCHAR(200), 
	number_of_beds INTEGER, 
	about TEXT, 
	PRIMARY KEY (id), 
	UNIQUE (hospital_id), 
	FOREIGN KEY(hospital_id) REFERENCES hospitals (id)
);
CREATE TABLE hospital_documents (
	id INTEGER NOT NULL, 
	hospital_id INTEGER, 
	document_type VARCHAR(100), 
	file_data_enc BLOB, 
	file_name VARCHAR(200), 
	uploaded_at DATETIME, 
	status VARCHAR(20), 
	PRIMARY KEY (id), 
	FOREIGN KEY(hospital_id) REFERENCES hospitals (id)
);
CREATE TABLE shifts (
	id INTEGER NOT NULL, 
	hospital_id INTEGER, 
	title VARCHAR(200) NOT NULL, 
	specialty VARCHAR(100), 
	shift_date DATE, 
	start_time TIME, 
	end_time TIME, 
	duration_hours FLOAT, 
	pay_rate FLOAT, 
	pay_type VARCHAR(20), 
	location_ward VARCHAR(100), 
	requirements TEXT, 
	is_urgent BOOLEAN, 
	status VARCHAR(20), 
	posted_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(hospital_id) REFERENCES hospitals (id)
);
COMMIT;
